body
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.contenedor
{
	position: relative;
	width: 97%;
	max-width: 1000px;
	margin: 0 auto;
	overflow: hidden;
	
}
.contenedor .columna .box
{
	position: relative;
	width: 450px;
	height: 770px;
	background: #000;
	float: left;
	margin: 15px;
	box-sizing: border-box;
	overflow: hidden;
	border-radius: 10px;
}

.contenedor .columna2 .box{

	position: relative;
	width: 430px;
	height: 365px;
	background: #000;
	float: left;
	margin: 15px;
	box-sizing: border-box;
	overflow: hidden;
	border-radius: 10px;
}


.contenedor .columna .logo {

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	transition: 0.5s;
	z-index: 1;
}

.contenedor .columna .logo {

	top: 20px;
	left: calc(50% - 20%);
	width: 80px/2;
	height: 80px;
	border-radius: 50%;
}

.contenedor .columna .codigo {

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	transition: 0.5s;
	z-index: 1;
}

.contenedor .columna .codigo {

	top: 250px;
	left: center;
	width: 80px/2;
	height: 80px;
	border-radius: 50%;
}

.contenedor .columna .content {

	position: absolute;
	top: 320%;
	height: calc(100% - 100px);
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
	transform: 0.5s;
}

.contenedor .columna .content h3 {
	
	margin: 0 0 120px;
	padding: 0;
	color: #fff;
	font-size: 24px;
}

.contenedor .columna .content p {
	
	margin: 0;
	padding: 0;
	color: #fff;
}

.contenedor .columna2 .mapa {

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	transition: 0.5s;
	z-index: 1;
}

.contenedor .columna2 .mapa {

	top: 38px;
	left: calc(50% - 35%);
	width: 80px/2;
	height: 80px;
	border-radius: 50%;
}

.contenedor .ubicacion {

	position: absolute;
	top: 300%;
	height: calc(100% - 100px);
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
	transform: 0.5s;
}

.contenedor .ubicacion h5 {

	margin: 0;
	padding: 0;
	color: #fff;
	font-size: 12px;
}

.contenedor .columna2 .lugar {

    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	transition: 0.5s;
	z-index: 1;
}

.contenedor .columna2 .lugar {

    top: 245px;
	left: calc(62% - 3%);
	width: 80px/2;
	height: 80px;
	border-radius: 50%;
}

.contenedor .columna2 .content {

	position: absolute;
	top: 12%;
	height: calc(100% - 100px);
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
	transform: 0.5s;
}

.contenedor .columna2 .content h3 {

    margin: 0 125px;
	padding: 0;
	color: #fff;
	font-size: 24px;
}

.contenedor .columna2 .content p {
    margin: 40px;
	padding: 0;
	color: #fff;
}

@media screen and (max-width: 800px){
	.columna {
		width: 100%;
	}

	.columna2 {
		width: 100%;
	}

}

	@media screen and (max-width: 400px){
		.contenedor {
			width: 100%;
		}

	}